<p-toast></p-toast>
<div>
  <p-table
    #tt
    [columns]="cols"
    [value]="tableData"
    [(selection)]="tableSelection"
    (onRowSelect)="onRowSelect($event)"
    (onRowUnselect)="onRowUnselect($event)"
    selectionMode="single"
    dataKey="id"
    [autoLayout]="true"
  >
    <ng-template pTemplate="caption">
      <label>List of employees</label>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{col.header}}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td
          *ngFor="let col of columns"
        >
          {{rowData[col.field]}}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <label>There are {{tableData.length}} employees.</label>
    </ng-template>
  </p-table>
</div>
